{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/MDBootstrap/js/jquery-2.2.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/MDBootstrap/js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/MDBootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/MDBootstrap/js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ng-dialog/js/ngDialog.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/snackbar/dist/snackbar.min.js' %}"></script>

{% endcompress %}
