<!--Navbar-->
    <nav class="navbar navbar-dark bg-primary">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
            <i class="fa fa-bars"></i>
        </button>

        <div class="container">

            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                <!--Navbar Brand-->
                <a class="navbar-brand" href="#">Boston Salsa</a>
                <!--Links-->
                <ul class="nav navbar-nav float-xs-right">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/{{ user.username }}">+{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/+{{ user.username }}/settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" ng-click="vm.logout()">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!--/.Collapse content-->

        </div>

    </nav>
    <!--/.Navbar-->
