<!--Main layout-->
{% load staticfiles %}

<!-- First Row -->
<div class="row">
  <div class="col-md-7">
    <div class="view overlay hm-white-light z-depth-1-half">
      <img src="{% static 'img/landing/dip.jpg' %}" class="img-fluid">
      <div class="mask">
      </div>
    </div>
    <br />
  </div>

    <div class="col-md-5">
      This is your number 1 source salsa.  That's wassup Mi Gente.
    </div>
</div>

<!-- Second Row -->
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Events and Socials</h4>
        <p class="card-text">Check out events in Cambridge, Boston, and beyond!</p>
        <a href="/events" class="btn btn-primary">Browse events</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Special Events</h4>
        <p class="card-text">Find one time events happening in your area.</p>
        <a href="/events" class="btn btn-primary">Browse events</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Lessons</h4>
        <p class="card-text">Find lessons based on location, teacher, style, and more.</p>
        <a href="/events" class="btn btn-primary">Browse events</a>
      </div>
    </div>
  </div>
</div>
